{{ define "main" }}
<div class="post">
  <h1 class="post-title">Buscar no Portal</h1>
  
  <link href="/pagefind/pagefind-ui.css" rel="stylesheet">
  <script src="/pagefind/pagefind-ui.js"></script>

  <div id="search"></div>

  <script>
    window.addEventListener('DOMContentLoaded', (event) => {
        new PagefindUI({ 
            element: "#search", 
            showSubResults: true,
            translations: {
                placeholder: "O que você está procurando?",
                clear_search: "Limpar",
                load_more: "Ver mais resultados",
                search_label: "Buscar",
                filters_label: "Filtros",
                zero_results: "Nada encontrado para [search]",
                many_results: "[count] resultados encontrados para [search]",
                one_result: "[count] resultado encontrado para [search]",
                alt_search: "Sem resultados para [search]. Mostrando para [alt] no lugar.",
                search_suggestion: "Sem resultados para [search]. Tente um destes termos:",
                searching: "Buscando por [search]..."
            }
        });
    });
  </script>

  <style>
    /* Customizando o Pagefind para seu tema */
    :root {
      --pagefind-ui-primary: #EEC35E;
      --pagefind-ui-text: #eeeeee;
      --pagefind-ui-background: #1a1b1c;
      --pagefind-ui-border: #EEC35E;
    }
    .pagefind-ui__result-link { color: #EEC35E !important; }
    .pagefind-ui__search-input { background-color: #000 !important; color: #fff !important; }
  </style>
</div>
{{ end }}