{{- /* 
  Shortcode Foto/Diagrama Hardened - Bizumática
  Resolve caminhos de Leaf Bundles (.Page.Resources) mantendo proporções nativas contra CLS.
*/ -}}
{{- $src := .Get "src" -}}
{{- $alt := .Get "alt" | default (.Get "legenda") | htmlEscape -}}
{{- $legenda := .Get "legenda" -}}
{{- $class := .Get "class" | default "artigo-foto-container" -}}

{{- $imgURL := "" -}}
{{- $imgWidth := "" -}}
{{- $imgHeight := "" -}}

{{- if $src -}}
  {{- if or (hasPrefix $src "http://") (hasPrefix $src "https://") (hasPrefix $src "//") (hasPrefix $src "/") -}}
    {{- $imgURL = $src -}}
  {{- else -}}
    {{- $res := .Page.Resources.GetMatch $src -}}
    {{- if $res -}}
      {{- $imgURL = $res.RelPermalink -}}
      {{- if ne $res.MediaType.SubType "svg" -}}
        {{- $imgWidth = $res.Width -}}
        {{- $imgHeight = $res.Height -}}
      {{- end -}}
    {{- else -}}
      {{- $imgURL = printf "/%s" (strings.TrimPrefix "/" $src) -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

{{- if $imgURL -}}
<figure class="{{ $class }}">
  <img 
    src="{{ $imgURL | safeURL }}" 
    alt="{{ $alt }}" 
    class="artigo-foto" 
    loading="lazy"
    decoding="async"
    {{ if $imgWidth }}width="{{ $imgWidth }}"{{ end }}
    {{ if $imgHeight }}height="{{ $imgHeight }}"{{ end }}
  >
  {{- with $legenda -}}
    <figcaption class="artigo-foto-legenda">:: [ {{ upper . }} ] ::</figcaption>
  {{- end -}}
</figure>
{{- end -}}