{{- /* 
  Shortcode: {{< thumb src="imagem.jpg" align="right" legenda="Legenda" width="320" eager="false" >}}
  Sintaxe Posicional: {{< thumb "img.jpg" "right" "Legenda" "Alt" "320" >}}
*/ -}}

{{- $srcRaw := .Get "src" | default (.Get 0) | default .Page.Params.image -}}
{{- $alignRaw := .Get "align" | default (.Get "pos") | default (.Get 1) | default "center" -}}
{{- $pos := lower $alignRaw -}}
{{- $legenda := .Get "legenda" | default (.Get "caption") | default (.Get 2) -}}
{{- $rawAlt := .Get "alt" | default (.Get 3) | default $legenda | default .Page.Title -}}
{{- $alt := $rawAlt | plainify | htmlEscape -}}
{{- $targetWidth := .Get "width" | default (.Get 4) | default "280" -}}
{{- $isEager := eq (string (.Get "eager" | default "false")) "true" -}}

{{- $processedImg := "" -}}
{{- $imgWidth := $targetWidth -}}
{{- $imgHeight := "" -}}

{{- if $srcRaw -}}
  {{- if or (hasPrefix $srcRaw "http://") (hasPrefix $srcRaw "https://") (hasPrefix $srcRaw "//") -}}
    {{- $processedImg = $srcRaw -}}
  {{- else -}}
    {{- $pathClean := strings.TrimPrefix "/" $srcRaw -}}
    {{- $res := .Page.Resources.GetMatch $srcRaw -}}
    {{- if not $res -}}
      {{- $res = resources.Get $pathClean -}}
    {{- end -}}

    {{- if $res -}}
      {{- if eq $res.MediaType.SubType "svg" -}}
        {{- $processedImg = $res.RelPermalink -}}
      {{- else -}}
        {{- $resizeStr := printf "%sx webp q85" $targetWidth -}}
        {{- $thumb := $res.Resize $resizeStr -}}
        {{- $processedImg = $thumb.RelPermalink -}}
        {{- $imgWidth = $thumb.Width -}}
        {{- $imgHeight = $thumb.Height -}}
      {{- end -}}
    {{- else -}}
      {{- $processedImg = printf "/%s" $pathClean -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

{{- if $processedImg -}}
<figure class="thumb-bizu-container thumb-align-{{ $pos }}">
  <div class="thumb-bizu-frame">
    <img 
      src="{{ $processedImg | safeURL }}" 
      alt="{{ $alt }}" 
      class="thumb-bizu-img" 
      loading="{{ if $isEager }}eager{{ else }}lazy{{ end }}" 
      decoding="{{ if $isEager }}sync{{ else }}async{{ end }}"
      {{ if $isEager }}fetchpriority="high"{{ end }}
      {{ if $imgWidth }}width="{{ $imgWidth }}"{{ end }}
      {{ if $imgHeight }}height="{{ $imgHeight }}"{{ end }}
    >
  </div>
  {{- if $legenda -}}
    <figcaption class="thumb-bizu-legenda" role="doc-caption">:: [ {{ $legenda }} ] ::</figcaption>
  {{- end -}}
</figure>
{{- end -}}